a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
body{
    background-color: black;
}
.testConnection{
    color: red;
}
.HomePageLists{
	color: #fff;
	font-size: 4.5em;
	justify-content: center;
	display: flex;
	margin-top: 150px;
}
.Top{
	color: #fff;
	font-size: 4.5em;
	justify-content: right;
	display: flex;
	margin-right: 20px;
}

.Titles{
	color: rgb(158, 255, 190);
	font-size: 3em;
    justify-content: center;
	display: flex;
	margin-left: 100px;
}
.inCart{
	color: rgb(158, 255, 190);
    justify-content: center;
	display: flex;
}