.grocery_types img{
    height:500px;
    width:600px;
    padding:30px;
}

.grocery_types h3{
    color:white;
}

.grocery_types p{
    color:white;
}

@media screen and (max-width: 768px) {
    .grocery_types img{
        height:420px;
        width:470px;
        padding:30px;
    }
    
  }