.toy_types img{
    height:500px;
    width:635px;
    padding:30px;
    
}

.toy_types h3{
    color:white;
}

.toy_types p{
    color:white;
}

@media screen and (max-width: 768px) {
    .toy_types img{
        height:420px;
        width:470px;
        padding:30px;
    }
    
  }