.add-product-table{
	position: relative;
	width:100%;
	height: 100%;
}
.add-product-input{
	width: 60%;
	height: 40px;
	background: #ffffff;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.add-product-button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #40916c;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.add-product-button:hover{
	background: #2d6a4f;
}