
.change-my-password{
	position: relative;
	width:100%;
	height: 100%;
}
.input{
	width: 60%;
	height: 40px;
	background: #ffffff;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #40916c;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.remove-button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #a32323;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.remove-button:hover{
	background: #7c1717;
}
.button:hover{
	background: #2d6a4f;
}
.select{
	width: 60%;
	height: 40px;
	background: #ffffff;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.message{
	color: #2d6a4f;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
}
.Titles{
	color: rgb(158, 255, 190);
	font-size: 3em;
    justify-content: center;
	display: flex;
	margin-left: 100px;
}
.sellerProductsTable thead{
    color: white;
    background-color:#198754;
}

.sellerProductsTable tbody{
    background-color: white;
}

.productImage img{
    height: 60px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
    color: white;
}

.delete-button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: red;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

